.menu {
  text-align: center;;
  background-color: #D5B0AC;
  color: #402E2A;
}
.menu span {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 30px;
}
span:hover {
  color: #FFFFFF;
  background: #9CD08F
}
.menu_vertical {
  width: 100px;
  height: 128px;
}
.small_title{
  border-top: 2px solid #FFFFFF;
}
