body {
    background-color: #DFDFDF;
}

.header {
    padding: 16px 0 13px;
    background-color: #FFFFFF;
}

.search_form input[type="text"]{
    border-radius: 0;
    padding-right: 30px;
}

.search_form .glyphicon-search {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0,-50%);
    color: #CECECE;
}

.site_logo {
    font-size: 24px;
    line-height: 30px;
    color: #00A0C6;
    font-weight: 100;
}

.site_logo img{
    height: 34px;
}

.profile_wrapper {
    border: 1px solid #CECECE;
    line-height: 34px;
}

.profile_wrapper button {
    float: left;
    font-size: 18px;
    display: inline-block;
    width: 34px;
    height: 34px;
    color: #CECECE;
    line-height: 34px;
    text-align: center;
    border: 0 none;
    background: #ffffff;
    border-right: 1px solid #cecece;
}

.profile_wrapper button:hover {
    color: #FFFFFF;
    background: #00A0C6;
}

.username {
    padding-left: 15px;
    color: #CECECE;
}

.item_container{
  margin-top: 30px;
}

.item{
  background-color: #ffffff;
}

.image_container {
  position: relative;
}

.image_container > img{
  width: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: none;
}

.image_container:hover .overlay{
  display: block;
}

.info_container{
  padding: 0 15px 15px 15px;
}

.author_info{
  margin-bottom: 15px;
}

.author_avatar{
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.plus_button{
  position: absolute;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 1.2em;
  background: #ffffff;
  color: #333333;
  border: 0 none;
  cursor: pointer;
}

.img_statistics_container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}
